#divheader{
	margin-left:0px;
	margin-right:0px;
}

#bo_menu{
	background-color:#151a21;
	height:100% !important;
}

.footer{
	margin-top: auto !important;
	background-color: #151a21e6;
	padding-top:10px;
	color:white;
}

.footer-copyright{
	background-color: #151a21;
}

.header {
  background-color:#ededed;
  height:50px;
  font-weight: bold;
  padding-top: 10px;
}

.listul {
  list-style-type: none;
  padding-left:10px !important;
}

.listla {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.listla.active {
  background-color: white;
  color: white;
}

.listla:hover:not(.active) {
  background-color: #333333;
  color: white;
}

.headlink{
  color: #ff8013;
}

#footerlink{
  color: #ff8013;
}

.btn-netmap {
    color: #FFF;
    background-color: #ff8013;
    border-color: #ff8013;
}