<!DOCTYPE html>
<html class="NetMap" lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>
      Accord de Confidentialité
    </title>
    
  
    <style>
    
    </style>
  </head>
  <body>
    <div  role="banner">
      <div>
        <h1>
          Accord de Confidentialité
        </h1>
        <div>
          <div>
            <span></span>
            
          </div>
        </div>
      </div>
    </div>
    <div>
      <div></div>
      <div>
        <div>
          <ul>
            
           
			
            
		
			
			<li>
              <a href="#données"> Données
			  </a>
            </li>
	
			
			
			<li>
              <a href="#confidentialité">Règles de confidentialité</a>
            </li>
			
			
			
		
           
           
            
           
			
			
			
			
			
			
			
			
			
          </ul>
        </div>
        <div>
         
         
          
          <h2 id="données">
            Données
          </h2>
          <p>
            L'utilisation de vos informations par NetMap est décrite dans les <a href=
            "#confidentialité">Règles de confidentialité</a>. Vous ne pouvez
            mettre en place aucun système d'identification des visiteurs de vos pages NetMap sans
            leur autorisation. Avant de recueillir des informations sur un visiteur, vous devez
            obtenir son accord exprès, lui expliquer sans ambiguïté que ces informations sont
            collectées par vous et non par NetMap, et afficher sur votre page NetMap des règles de
            confidentialité conformes aux lois applicables.
          </p>
         
         
          
		  
		  
		   <h2 id="confidentialité">
            Règles de confidentialité
          </h2>
		  <p>
			Les informations que nous collectons et l'usage que nous en faisons dépendent de la manière dont vous utilisez nos services 
			et dont vous gérez vos paramètres de confidentialité. 
			Lorsque vous n'êtes pas connecté à un compte NetMap, nous stockons les informations collectées en les associant à des identifiants uniques liés au navigateur, à l'application ou à l'appareil que vous utilisez. Cela nous permet, par exemple, de conserver vos préférences linguistiques pour 
			toutes vos sessions de navigation. 
			Lorsque vous êtes connecté à votre compte, nous stockons les informations collectées en les associant à votre compte NetMap et les 
			considérons comme des informations personnelles. 
			Nous collectons des informations relatives aux applications, 
			aux navigateurs et aux appareils que vous utilisez pour accéder aux services 
			NetMap.
			Lorsque vous créez un compte NetMap, vous nous fournissez des informations personnelles, 
			dont votre nom et un mot de passe. Vous avez également la possibilité d'ajouter un numéro de téléphone 
			ou des informations de paiement à votre compte. 
			Même si vous n'êtes connecté à aucun compte NetMap, vous pouvez nous fournir des informations, telles 
			qu'une adresse e-mail afin de recevoir des notifications relatives à nos services.
			Nous collectons également le contenu que vous créez, importez 
			ou recevez de la part d'autres personnes via nos services.
			Les informations que nous collectons incluent les identifiants uniques, 
			le type et les paramètres du navigateur, le type et les paramètres de l'appareil, 
			le système d'exploitation, des données relatives au réseau mobile 
			(telles que le nom de l'opérateur et le numéro de téléphone) 
			et le numéro de version de l'application. 
			Nous recueillons aussi des informations relatives aux interactions 
			entre vos applications, vos navigateurs, vos appareils et nos services, 
			telles que l'adresse IP, les rapports d'erreur, l'activité du système, 
			ainsi que la date, l'heure et l'URL de provenance de votre demande.
			<br>Nous collectons des informations relatives à votre position géographique 
			lorsque vous utilisez nos services, car ces données nous permettent de 
			proposer des fonctionnalités, telles que des itinéraires lorsque vous 
			partez en week-end ou les horaires des films diffusés dans les cinémas
			à proximité de l'endroit 
			où vous vous trouvez. Votre position géographique peut être déterminée avec des degrés de précision différents à l'aide des éléments suivants :<br>-Le GPS<br> -Adresse IP <br> -Des informations relatives à des éléments à proximité de votre appareil,
			tels que des points d'accès Wi-Fi, des antennes-relais et des appareils sur lesquels le Bluetooth est activé.<br>
			Le type de données de localisation que nous collectons dépend en partie des paramètres définis dans votre appareil et votre compte. 
			Nous avons recours à plusieurs technologies pour collecter 
			et stocker des informations, notamment les cookies, 
			les tags de pixel, les éléments stockés en local 
			(tels que le stockage sur les navigateurs Web ou 
			les caches de données d'application), 
			les bases de données et les fichiers journaux de serveur.
			Nous utilisons vos informations pour proposer nos services, 
			par exemple pour traiter les termes que vous avez recherchés 
			afin de vous renvoyer des résultats ou pour faciliter le partage du contenu en proposant 
			des destinataires parmi vos contacts.
			Nous utilisons également vos informations pour nous assurer que nos services fonctionnent correctement, notamment pour effectuer le suivi des interruptions de service ou pour résoudre les problèmes que vous nous signalez. 
			Vos données nous permettent aussi d'apporter des améliorations à nos services.
			Selon vos paramètres, nous pouvons également vous présenter des annonces personnalisées sélectionnées sur la base de vos centres d'intérêt. 
			Nous utilisons vos informations pour améliorer la sécurité et la fiabilité de nos services. Cela inclut la détection, la prévention et le traitement des fraudes, abus, atteintes à la sécurité et problèmes techniques qui pourraient nous nuire, 
			ainsi qu'aux utilisateurs ou au public.  Nous analysons aussi votre contenu afin de détecter les abus, tels que le spam,
			Si d'autres utilisateurs disposent déjà de votre adresse e-mail,
			ou de toute autre donnée permettant de vous identifier, 
			nous sommes susceptibles de leur montrer les informations 
			de votre compte NetMap disponibles publiquement, 
			telles que votre nom et votre photo. Cela permet, par exemple, 
			de reconnaître un e-mail que vous avez envoyé.
			Toute utilisation de vos informations dans un but autre que ceux qui sont exposés dans les présentes 
			Règles de confidentialité nécessitera votre accord explicite.<br>
			Lorsque vous êtes connecté à vote compte, vous pouvez toujours vérifier et mettre à jour 
			les informations vous concernant en accédant aux services que vous utilisez.<br>
			Vous pouvez également formuler une demande de suppression de contenu de services NetMap spécifiques, 
			sur la base de la législation en vigueur.<br>
			De nombreux services NetMap vous permettent de partager vos informations avec d'autres personnes 
			et de contrôler la façon dont elles le sont.
			Nous ne communiquons vos informations personnelles à des entreprises, 
			des organisations ou des personnes tierces que dans les cas suivants : <br>
			-Nous ne communiquons vos informations personnelles à des tiers qu'avec votre consentement.<br>
			Nous ne partagerons des informations personnelles avec des personnes tierces que si nous pensons en toute bonne foi que l'accès, l'utilisation, la protection ou la divulgation de ces informations est 
			raisonnablement justifiée pour effectuer les opérations suivantes : <br>
			-Se conformer à des obligations légales, réglementaires, judiciaires ou administratives.<br>
			-Faire appliquer les conditions d'utilisation en vigueur, y compris pour constater d'éventuels manquements à celles-ci.
			<br>
			-Déceler, éviter ou traiter des activités frauduleuses, des atteintes à la sécurité ou tout problème d'ordre technique.
			<br>
			- Se prémunir contre toute atteinte aux droits, aux biens ou à la sécurité de NetMap, de ses utilisateurs ou du public, en application et dans le respect de la loi.<br>
			<br>
			Nous pouvons être amenés à partager publiquement, ainsi qu'avec nos partenaires (éditeurs, annonceurs, développeurs ou détenteurs de droits) 
			des informations qui ne permettent pas d'identifier personnellement l'utilisateur.
			Nous mettons en œuvre toutes les mesures de sécurité nécessaires pour vous protéger, 
			ainsi que NetMap, contre tout accès, toute modification, 
			divulgation ou destruction non autorisés des informations que nous détenons.
			Ces mesures sont notamment les suivantes :<br>
			-Nous chiffrons vos données afin d'en garantir la confidentialité dans le cadre de transferts.<br>
			-L'accès aux informations personnelles est strictement réservé aux employés, sous-traitants et agents de NetMap qui ont besoin d'y accéder afin de les traiter en notre nom. Toute personne y ayant accès est soumise à de strictes obligations de confidentialité et est susceptible de faire l'objet de sanctions disciplinaires 
			pouvant aller jusqu'au licenciement en cas de manquement à ces obligations.<br>
			Si la législation de l'Union européenne (UE) s'applique au traitement de vos informations, nous mettons à votre disposition les outils décrits dans les présentes règles afin de vous permettre d'exercer votre droit de demande d'accès, de mise à jour, de suppression et de restriction du traitement de vos informations. Vous avez également le droit de vous opposer 
			au traitement de vos informations ou d'exporter ces dernières vers un autre service.
			
			Nous traitons vos données afin de vous fournir un service que vous avez demandé et faisant l'objet d'un contrat.
			Nous traitons vos données lorsque nous avons l'obligation légale de le faire.
			Nous apportons des modifications aux présentes Règles de confidentialité de temps à autre.
			
		  </p>
		  
		  
		  
		  
         
        </div>
      </div>
    </div>
 
    
  </body>
</html>