<!DOCTYPE html>
<html class="NetMap" lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
    <title>
      Règles et Conditions d'utilisation
    </title>
    
  
    <style>
    
    </style>
  </head>
  <body>
    <div  role="banner">
      <div>
        <h1>
          Règles et conditions d'utilisation
        </h1>
        <div>
          <div>
            <span></span>
            
          </div>
        </div>
      </div>
    </div>
    <div>
      <div></div>
      <div>
        <div>
          <ul>
            
           
			<li>
              <a href="#légitimité"> Légitimité et accès
			  </a>
            </li>
            
			<li>
              <a href="#contenu"> Contenu
			  </a>
            </li>
			
			
			
			<li>
              <a href="#concours"> Concours, applications et public
			  </a>
            </li>
			<li>
              <a href="#suspension"> Suspension et résiliation
			  </a>
            </li>
			
			 <li>
              <a href="#nom"> Noms
			  </a>
            </li>
			
			
			
			<li>
              <a href="#condition">Conditions d'utilisation de NetMap</a>
            </li>
			
			   <li>
              <a href="#promo">Règlements relatifs aux concours et aux promotions sur les pages NetMap</a>
            </li>
            
			 <li>
              <a href="#dev">Règles destinées aux développeurs de la Plate-forme NetMap</a>
            </li>
		
           
            <li>
              <a href="#relatif">Règlement NetMap relatif au contenu</a>
            </li>
            
           
			
			
			
			
			
			
			
			
			
          </ul>
        </div>
        <div>
          <h1>
            Conditions d'utilisation supplémentaires relatives aux pages NetMap
          </h1>
          <p>
            Les présentes conditions d'utilisation supplémentaires, ainsi que les <a href=
            "#condition">Conditions d'utilisation de NetMap</a> et tout autre
            règlement cité ici, régissent l'utilisation que vous faites des pages NetMap
            ("Conditions d'utilisation relatives aux pages NetMap"). Cette page étant
            régulièrement mise à jour, nous vous invitons à la consulter de temps à autre. En
            créant des pages NetMap, vous acceptez implicitement les conditions d'utilisation qui
            les régissent, et votre usage régulier de ce service vaut également acceptation de
            leurs mises à jour. Si vous n'acceptez pas les conditions d'utilisation relatives aux
            pages NetMap, vous ne devez pas utiliser ce service.
          </p>
          <h2 id="légitimité">
            Légitimité et accès
          </h2>
          <p>
            Ainsi qu'il est stipulé dans les conditions d'utilisation relatives aux pages NetMap,
            n'importe quel utilisateur de NetMap peut créer ce type de page. Toutefois, seuls les
            utilisateurs exerçant une responsabilité légitime sur le thème de ladite page pourront
            en être propriétaire ou l'administrer. Vous n'êtes pas autorisé à partager les
            informations de connexion de votre page. Vous et NetMap pouvez autoriser des
            utilisateurs exerçant une responsabilité légitime sur le thème de la page à administrer
            cette dernière ou leur transférer le statut de propriétaire de la page. Ces
            utilisateurs doivent accepter ces Conditions d'utilisation supplémentaires avant de
            devenir administrateur ou propriétaire. Si vous transférez vos droits de propriétaire
            de la page, vous n'êtes plus autorisé à procéder à certaines actions sur cette page
            (par exemple, la supprimer). Veuillez consulter le centre d'aide NetMap pour obtenir
            davantage d'informations sur l'ajout de plusieurs administrateurs et propriétaires, et
            le transfert de la propriété d'une page NetMap.
          </p>
          <h2 id="contenu">
            Contenu
          </h2>
          <p>
            Le texte, les images ou les autres contenus publiés sur les pages NetMap doivent
            respecter les Règlements relatifs au contenu et au comportement de l'utilisateur de
            NetMap inclus dans les conditions d'utilisation des pages NetMap. Tout comme votre
            profil NetMap, les pages NetMap sont publiques. Les pages NetMap sont un type de
            profil NetMap et chaque page NetMap est associée à un compte NetMap distinct. Si vous
            souhaitez limiter les interactions des utilisateurs connectés à NetMap sur vos pages,
            vous pouvez appliquer certaines restrictions (par exemple la tranche d'âge) dans
            l'interface utilisateur de ces pages. Sauf indication contraire dans les Conditions
            d'utilisation des pages NetMap, vous n'êtes pas autorisé à inclure des conditions
            d'utilisation ou des restrictions techniques autres que celles de NetMap sur les pages
            NetMap.
          </p>
          
          <h2 id="concours">
            Concours, applications et publicité
          </h2>
          <p>
            Les concours, loteries ou autres promotions proposés sur votre page NetMap doivent
            également être conformes aux <a href="#promo">Règlements relatifs aux
            concours et aux promotions sur les pages NetMap</a>. Vos pages NetMap peuvent
            contenir des liens vers des applications, à condition que celles-ci soient conformes
            aux <a href="#dev">Règles destinées aux développeurs de
            la Plate-forme NetMap</a>. Vous n'êtes pas autorisé à diffuser des annonces
            publicitaires tierces sur votre page NetMap.
          </p>
          <h2 id="suspension">
            Suspension et résiliation
          </h2>
          <p>
            NetMap peut, sans préavis, supprimer les pages NetMap inactives depuis plus de neuf
            mois.
          </p>
          <h2 id="nom">
            Noms
          </h2>
          <p>
            Vous pouvez donner n'importe quel nom à votre page, à condition qu'il respecte notre
            <a href="#relatif">Règlement NetMap relatif au contenu</a>.
            Quand vous avez attribué un nom à une page, vous pouvez encore le modifier (jusqu'à
            3&nbsp;fois dans une année civile). Dès lors que votre page atteint un nombre
            significatif d'abonnés, la modification du nom de la page n'est plus autorisée.
          </p>
		  
		  
		   
		  
		   <h2 id="condition">
            Conditions d'utilisation de NetMap
          </h2>
		  
		  <p>
		  Vous devez respecter les règles applicables aux Services que vous utilisez.
		  N’utilisez pas nos Services de façon impropre. Ne tentez pas, par exemple, de produire des interférences avec nos Services ou d’y accéder en utilisant une méthode 
		  autre que l’interface et les instructions que nous mettons à votre disposition. Vous ne devez utiliser nos Services que dans le respect des lois en vigueur, y compris les lois et réglementations applicables concernant le contrôle des exportations et ré-exportations. Nous pouvons suspendre ou cesser la fourniture de nos Services si vous ne respectez pas les conditions ou règlements applicables, ou si nous examinons une suspicion d’utilisation impropre.
		  L’utilisation de nos Services ne vous confère aucun droit de propriété intellectuelle sur nos Services ni sur les contenus auxquels vous accédez. Vous ne devez utiliser aucun contenu obtenu par l’intermédiaire de nos Services sans l’autorisation du propriétaire dudit contenu, à moins d’y être autorisé par la loi. Ces Conditions d’Utilisation ne vous confèrent pas le droit d’utiliser une quelconque marque ou un quelconque logo présent dans nos Services. Vous n’êtes pas autorisé à supprimer, masquer ou modifier les notices juridiques affichées dans ou avec nos Services.
		  Nos Services affichent des contenus n’appartenant pas à NetMap. 
		  Ces contenus relèvent de l’entière responsabilité de l’entité 
		  qui les a rendus disponibles. Nous pouvons être amenés à vérifier 
		  les contenus pour s’assurer de leur conformité à la loi ou à nos conditions
		  d’utilisation. Nous nous réservons le droit de supprimer ou de refuser
		  d’afficher tout contenu que nous estimons raisonnablement être en violation 
		  de la loi ou de notre règlement. Le fait que nous nous réservions ce droit 
		  ne signifie pas nécessairement que nous vérifions les contenus. Dès lors, 
		  veuillez ne pas présumer que nous vérifions les contenus.
		  Dans le cadre de votre utilisation des Services et de l’exécution de notre
		  engagement contractuel, nous sommes susceptibles de vous adresser des messages liés au fonctionnement ou à l’administration des Services ainsi 
		  que d’autres informations.
		  Vous pouvez avoir besoin d’un compte NetMap pour utiliser certains de nos Services. Votre compte NetMap peut être créé par vous-même ou vous être attribué par un administrateur (par exemple, votre employeur ou votre établissement d’enseignement). Si votre compte NetMap vous a été attribué par un administrateur, il se peut que des conditions d’utilisation différentes ou additionnelles s’appliquent et que votre administrateur puisse accéder à votre compte ou le désactiver.
		  Pour protéger votre compte NetMap, préservez la confidentialité de votre mot de passe. 
		  Vous êtes responsable de l’activité exercée dans votre compte NetMap ou par le biais de celui-ci. Veillez à ne pas réutiliser le même mot de passe que celui associé à votre compte NetMap, 
		  dans des applications tierces.
		  
		  <a href="./AccordConfidentialite.html">Les Règles de confidentialité de NetMap</a> expliquent comment nous traitons vos données à caractère personnel et protégeons votre vie privée lors de votre utilisation de nos Services.
		  Nous répondons aux notifications d’atteinte présumée aux droits 
		  d’auteur et désactivons les comptes des utilisateurs ayant 
		  plusieurs fois porté atteinte à ces droits, conformément à la
		  procédure établie par la loi américaine dénommée
		  « Digital Millennium Copyright Act ».
		  
		  Si vous pensez qu’un utilisateur porte atteinte à vos droits d’auteur et que vous souhaitez nous en avertir, veuillez nous contacter par e-mail.
		  Pour nous, vous restez propriétaire des données que vous nous 
		  confiez et nous pensons qu’il est important que vous puissiez y accéder.
		  Si nous devons interrompre un Service, dans la mesure du possible, 
		  nous vous en avertissons dans un délai raisonnable et
		  vous donnons la possibilité de récupérer des informations de ce Service.
		  <br> Dans les limites permises par la loi, NetMap, ses fournisseurs et distributeurs, 
		  déclinent toute responsabilité pour les pertes de bénéfices, de revenus ou de données,
		  ou les dommages et intérêts indirects, spéciaux, consécutifs, exemplaires ou punitifs.
		  En aucun cas, NetMap, ses fournisseurs et distributeurs, ne seront tenus responsables pour toute perte ou dommage qui n’aurait pas été raisonnablement prévisible.
		  Nous reconnaissons que, dans certains pays, vous pouvez jouir de certains droits en tant que consommateur. Si vous utilisez les Services pour un usage personnel, aucune disposition des présentes Conditions d’Utilisation ou des conditions d’utilisation supplémentaires
		  ne limite les droits légaux du consommateur auxquels aucun contrat ne peut déroger.
		  Si vous utilisez nos Services pour le compte d’une entreprise, 
		  cette dernière doit accepter les présentes Conditions d’Utilisation. 
		  Elle doit en outre dégager de toute responsabilité NetMap, ses sociétés affiliées,
		  ses agents et ses salariés et les garantir contre toute réclamation,
		  poursuite ou action en justice résultant de ou liée à son utilisation
		  des Services ou faisant suite à une violation des présentes Conditions
		  d’Utilisation, y compris toute responsabilité et charge financière 
		  résultant de réclamations, de pertes ou de dommages constatés, de
		  poursuites engagées et de jugements prononcés, et des frais de
		  justice et d’avocat afférents.<br>
		  Nous sommes susceptibles de modifier ces Conditions 
		  d’Utilisation ou toute autre condition d’utilisation 
		  complémentaire s’appliquant à un Service, par exemple,
		  pour refléter des modifications de la loi ou de nos Services.
		  Nous vous recommandons de consulter régulièrement les Conditions d’Utilisation. Les modifications apportées à ces Conditions d’Utilisation seront signalées sur cette page. Nous publierons un avis de modification des conditions d’utilisation additionnelles dans le Service concerné. Les modifications ne s’appliqueront pas de façon rétroactive et entreront en vigueur au moins quatorze (14) jours après leur publication. Toutefois, les modifications spécifiques à une nouvelle fonctionnalité d’un Service ou les modifications apportées pour des raisons juridiques s’appliqueront immédiatement. Si vous n’acceptez pas les modifications apportées aux Conditions d’Utilisation d’un Service donné, 
		  vous devez cesser toute utilisation de ce Service.
		  
		  Nous sommes susceptibles de modifier ces Conditions 
		  d’Utilisation ou toute autre condition d’utilisation complémentaire
		  s’appliquant à un Service, par exemple, pour refléter des modifications de la loi ou de nos Services. Nous vous recommandons de consulter régulièrement les Conditions d’Utilisation. Les modifications apportées à ces Conditions d’Utilisation seront signalées sur cette page. Nous publierons un avis de modification des conditions d’utilisation additionnelles dans le Service concerné. Les modifications ne s’appliqueront pas de façon rétroactive et entreront en vigueur au moins quatorze (14) jours après leur publication. Toutefois, les modifications spécifiques à une nouvelle fonctionnalité d’un Service ou les modifications apportées pour des raisons juridiques s’appliqueront immédiatement. Si vous n’acceptez pas les modifications apportées aux Conditions d’Utilisation d’un Service donné, 
		  vous devez cesser toute utilisation de ce Service. Si vous ne respectez pas ces Conditions d’Utilisation et que nous ne prenons pas immédiatement de mesure à ce sujet, cela ne signifie pas que nous renonçons à nos droits
		  (par exemple, à prendre une mesure ultérieurement).
		  S’il s’avère qu’une condition particulière n’est pas applicable,
		  cela sera sans incidence 
		  sur les autres conditions de ces Conditions d’Utilisation.
		  
		  Si vous êtes un consommateur et que vous résidez dans 
		  l'Espace économique européen ou en Suisse, tout litige 
		  qui résulte des présentes conditions ou qui est lié à 
		  ces dernières est régi par le droit et les tribunaux de votre pays.
		  Les litiges peuvent être transmis via la plateforme de règlement en ligne des litiges de la Commission européenne en vue d'être réglés en ligne. Toutefois, NetMap ne s'engage pas à régler les litiges devant une entité de règlement 
		  alternatif des litiges et n'y est pas obligé.
		  
		  Si vous êtes un utilisateur professionnel dans l'Espace 
		  économique européen ou en Suisse, les présentes conditions 
		  sont régies par le droit anglais. NetMap et vous-même vous 
		  soumettez à la juridiction exclusive des tribunaux anglais 
		  pour tout litige qui résulte des présentes conditions ou 
		  qui est lié à ces dernières. NetMap demeure toutefois en 
		  mesure de solliciter des mesures de réparation par voie 
		  d'injonction (ou d'autres mesures juridiques d'urgence équivalentes)
		  auprès de n'importe quelle juridiction. <br>
		  Pour toute information sur la procédure à suivre pour contacter NetMap, contacter nous par e-mail.
		  
		  
		  
		  </p>
		  
		  
		  <h2 id="promo">
            Règlements relatifs aux concours et aux promotions sur les pages NetMap
          </h2>
		   <p>
			NetMap autorise les concours, les loteries et autres promotions ("Promotions"), dans les limites autorisées par la loi, 
			et conformément aux exigences des règlements 
			et aux conditions légales définies ci-après.<br>
			
			-Il est strictement interdit de générer du spam, ou d'inciter autrui
			à prendre part
			à des activités de spam ou à des abus. La définition de la notion de spam 
			sur Netmap peut s'élargir et évoluer au fil du temps, et NetMap se réserve
			le droit de définir quels éléments peuvent être qualifiés de spam. Pour vous permettre de nous seconder dans la lutte contre le spam et contre les abus, nous avons fixé des exigences spécifiquement applicables aux Promotions :
			<br>-Le règlement officiel de votre Promotion doit clairement stipuler
			que toute personne 
			identifiée comme ayant créé plusieurs comptes en vue d'augmenter 
			ses chances de 
			réussite ou toute personne envoyant plus de soumissions que le 
			nombre autorisé,
			sera disqualifiée. Le nombre limite de soumissions que vous fixez 
			pour votre 
			Promotion doit être situé en-deçà d'un seuil susceptible
			d'encourager le spam.<br>
			-Si vous exigez des participants à la Promotion qu'ils utilisent
			des hashtags 
			dans leurs soumissions, ces hashtags doivent être pertinents 
			pour le type de
			contenu publié par les utilisateurs. Par exemple, vous ne pouvez
			pas demander
			que des photos de couchers de soleil soient publiées avec le
			hashtag #spaghetti.
			<br>-Les Promotions ne doivent pas être utilisées pour contourner des conditions 
			ou règles applicables.
			<br>-Les concours de vidéos YouTube sont interdits sur NetMap. Cela concerne les
			concours exigeant de mettre en ligne des vidéos sur YouTube et
			ceux demandant de mettre en ligne des vidéos YouTube sur NetMap.
			-Vous n'êtes pas autorisé à organiser des Promotions offrant potentiellement
			des récompenses en échange du fait d'attribuer +1 à un contenu, 
			de suivre un utilisateur, d'ajouter un utilisateur à des cercles,
			de +mentionner un utilisateur (autre que l'auteur ou le sponsor 
			du concours, ou une société affiliée de l'auteur ou du sponsor 
			du concours), de faire participer d'autres utilisateurs à la 
			Promotion ou de participer à des sondages. L'organisation de 
			Promotions incitant les utilisateurs à publier du contenu non 
			original ou récurrent est également interdite.
			<br>-Une recherche publique (via un hashtag ou autre) n'affiche pas
			nécessairement
			chaque soumission ni chaque participant à votre Promotion. 
			Aussi, ne comptez pas sur la seule fonctionnalité de recherche
			pour afficher ou trouver l'ensemble des soumissions ou des participants 
			à la Promotion.
			<br>-Certaines soumissions à la Promotion peuvent être filtrées, masquées 
			ou supprimées de NetMap pour des motifs de qualité, parce qu'elles 
			relèvent du spam ou parce qu'elles enfreignent les présents règlements
			relatifs aux promotions ou l'une de nos autres règles ou conditions 
			d'utilisation applicables. <br>
			Toute Promotion organisée sur NetMap, ou utilisant NetMap ou les fonctionnalités NetMap,
			est soumise aux règles définies ci-dessous.<br>
			
			<br>
			1.Exigences générales:<br>
			-Vous êtes responsable de votre Promotion,
			y compris du règlement officiel, des conditions de l'offre,
			des critères d'éligibilité (limites d'âge et restrictions de 
			résidence, notamment), ainsi que de tous les aspects administratifs 
			de la Promotion.
			<br>-Vous êtes tenu de vous assurer que votre Promotion sur NetMap respecte toutes les lois nationales (y compris les réglementations sur les sanctions économiques) et les lois locales applicables, ainsi que les règles, réglementations, codes de conduite ou directives en vigueur dans la ou les juridiction(s) où votre Promotion est proposée ou promue. Vous êtes notamment tenu d'enregistrer votre Promotion, d'obtenir les autorisations réglementaires et de vous conformer aux exigences linguistiques et obligations d'information. Veuillez contacter un avocat pour toute question concernant vos obligations.
			Vous êtes tenu d'indiquer clairement aux participants
			qu'ils peuvent être amenés à utiliser NetMap dans le
			cadre de la Promotion, que ce soit pour y publier du contenu ou autre.
			L'organisation ou la gestion de votre Promotion doit se faire 
			dans le respect de nos règles et conditions d'utilisation, y 
			compris des présents règlements relatifs aux promotions, de 
			nos règles de confidentialité, conditions d'utilisation, 
			règlements relatifs au contenu et au comportement de l'utilisateur,
			règles d'utilisation du bouton, conditions d'utilisation supplémentaires
			relatives aux pages NetMap ou des règles et consignes relatives aux
			concours sur YouTube. Vous ne devez pas inciter les participants à 
			votre Promotion à prendre part à des activités interdites par nos 
			règles ou conditions d'utilisation. Veuillez lire nos règles avant 
			d'organiser une Promotion sur NetMap. Si votre Promotion est réputée 
			contraire aux règles de NetMap ou aux conditions d'utilisation de NetMap, 
			nous nous réservons le droit de prendre les mesures qui s'imposent, y 
			compris de vous interdire d'organiser d'autres promotions sur NetMap 
			ou de désactiver votre compte.<br>
			2.Responsabilité:<br>
			-Vous devez élaborer un règlement officiel qui stipule clairement que votre Promotion n'est en aucun cas sponsorisée, cautionnée, gérée par, ni associée d'aucune autre façon à NetMap ou ses sociétés affiliées.
			Le règlement officiel doit préciser que chaque 
			participant dégage entièrement, dans la limite autorisée par 
			la loi, NetMap et ses sociétés affiliées de toute responsabilité
			liée à votre Promotion. Il doit demander aux participants d'adresser 
			leurs questions et commentaires concernant la Promotion à vous-même, 
			et non pas à NetMap.<br>
			-Par la présente, vous vous engagez à dégager NetMap et ses sociétés 
			affiliées de toute responsabilité relative à votre Promotion, 
			et à défendre, indemniser et dégager de toute responsabilité 
			NetMap et sa société mère, ainsi que ses sociétés affiliées, 
			ses dirigeants, ses responsables, ses employés et ses agents,
			en cas de plaintes, dommages, obligations, pertes, responsabilités,
			coûts, créances et dépenses (y compris les honoraires d'avocat) 
			ayant leur origine dans : (i) votre utilisation des pages NetMap 
			et leur consultation dans le cadre de votre Promotion ; (ii) 
			toute violation de votre fait d'un terme quelconque des présents 
			règlements relatifs aux promotions ou de toutes autres règles de 
			NetMap ; (iii) toute violation, intervenant dans le cadre de la
			Promotion, des droits d'un tiers, y compris une atteinte aux 
			droits d'auteur, de propriété, de publicité (y compris la diffamation)
			ou une violation de la confidentialité ; (iv) toute réclamation d'un
			tiers liée ou consécutive à votre Promotion, y compris concernant 
			une récompense remise ou le défaut de remise de ces récompenses ; 
			ou (v) toute plainte relative au fait que votre Promotion ne respecte
			pas une loi, une règle ou une réglementation. La résiliation du service,
			la modification des présents règlements relatifs aux promotions 
			ou de toutes autres règles de NetMap, ou l'arrêt de votre utilisation
			de NetMap ne vous dégagent pas de votre obligation de défense et 
			d'indemnisation.<br>
			3. Services NetMap et fonctionnalités du site:<br>
			-NetMap ne vous apporte pas son aide dans le cadre de la gestion de votre Promotion.
			<br>-NetMap n'est pas responsable des problèmes éventuellement rencontrés avec votre Promotion, que ce soit un problème avec le site NetMap ou une fonctionnalité NetMap, ou une interruption du site NetMap ou d'une fonctionnalité NetMap.
			<br>-La responsabilité de NetMap ne saurait être engagée vis-à-vis de vous pour la résiliation d'un compte, la suppression ou la republication d'un contenu, ni pour toute action ou inaction liée aux contenus ou aux soumissions des utilisateurs dans le cadre de Promotions, ou autre.
			<br>-Vous assumez tous les risques liés à la gestion de 
			votre Promotion sur NetMap.
			
			
		  </p>
		  <h2 id="dev">
            Règles destinées aux développeurs de la Plate-forme NetMap<br>
			
          </h2>
		   <p>
			Don't collect, store, or share sensitive personal information such as
			credit card, bank account, driver's license, or social security numbers, 
			except as necessary to collect payment.<br>
			
			Don't use users' personal information for purposes beyond the 
			limited and express purpose of your application (including as it 
			may reasonably evolve due to ongoing development), or 
			for purposes other than improving their experience in your application, 
			without getting specific opt-in consent from the user.<br>
			Don't sell, rent, make visible, or otherwise provide a user's personal 
			information to any third party, including other users, 
			without getting specific opt-in consent from the user. 
			Opt-in consent isn't required to provide users' personal 
			information to third parties, like infrastructure providers 
			or customer service contractors, whose services are 
			reasonably necessary to help you build or run your applications. 
			You're responsible for how those third parties handle this information,
			and you must contractually require them to keep it confidential.<br>
			Don’t use stale data. You can cache or store data you’ve obtained 
			through the NetMap API, but to the extent reasonably possible within
			the context of your application, use fresh data recently fetched 
			from the API. If the fresh data reveals that content is gone 
			(for instance, because a user deleted it), delete it and don’t 
			use your stale copy. For clarity, if you comply with these requirements, 
			you may cache data longer than specified by the cache header.<br>
			We take security very seriously: we can suspend your application without notice if it appears to have a security or stability issue that could affect NetMap or its users.
			<br>
			If you experience a security breach or misuse of information, 
			you must notify NetMap.<br>
			If you experience a breach exposing private user information, 
			you must also notify your users.
		  </p>
		  <h2 id="relatif">
		   Règlement NetMap relatif au contenu
		  </h2>
		   <p>
			Nous dépendons beaucoup du signalement par les utilisateurs de tout contenu 
			susceptible d'enfreindre nos règles. Si une éventuelle infraction aux présents
			règlements est portée à notre connaissance, nous examinons le contenu 
			en question et prenons les mesures qui s'imposent, comme restreindre 
			son accès, le supprimer, refuser de l'imprimer, ou restreindre ou 
			désactiver l'accès d'un utilisateur aux produits Netmap. Toutefois, 
			l'application des présents règlements peut faire l'objet d'exceptions
			motivées par des considérations artistiques, éducatives ou documentaires 
			; d'autres intérêts en jeu importants pour le public peuvent également 
			nous conduire à ne pas prendre de mesures en relation avec le contenu.
			<br>Il se peut que nous apportions des modifications aux présents règlements. 
			Veuillez donc consulter cette page régulièrement. Des règles et conditions
			supplémentaires s'appliquent à plusieurs produits et fonctionnalités, en sus des règlements ci-dessous. 
			Veuillez en prendre connaissance en cliquant sur les liens 
			fournis à cet effet.
			
			<br>1.Activités illégales<br>
			Vous ne devez pas utiliser nos Services pour prendre part à
			des activités illégales ou pour promouvoir des activités 
			dangereuses et illicites, telles que la vente de drogues prohibées
			ou le trafic d'êtres humains.

			Nous nous réservons également le droit de supprimer tout 
			contenu qui contreviendrait aux lois locales en vigueur. 
			Si vous pensez qu'un contenu devrait être supprimé, car 
			contraire à la législation de votre pays, signalez-le.
			<br>
			
			
			2.Pratiques malveillantes et trompeuses<br>
			Il est interdit de transmettre des virus, des logiciels malveillants
			ou tout autre sorte de code malveillant ou destructeur. Il est également 
			interdit de diffuser du contenu susceptible d'endommager les réseaux, 
			les serveurs ou toute autre infrastructure de NetMap ou de tiers, ou de 
			perturber leur fonctionnement. N'utilisez pas 
			nos Services pour commettre des escroqueries par hameçonnage.<br>
			
			3.Incitation à la haine<br>
			Nos produits se veulent des espaces de libre expression, 
			mais nous n'acceptons pas pour autant la publication de propos haineux. 
			L'incitation à la haine désigne tout contenu qui justifie la violence, 
			ou y incite, ou dont l'objectif principal est d'inciter à la haine 
			envers une personne ou un groupe en raison de son origine ethnique,
			de sa religion, de son handicap, de son âge, de sa nationalité, de 
			son statut d'ancien combattant, de son sexe, de son identité de genre,
			ou de toute autre caractéristique associée à une discrimination ou une marginalisation systématiques.
			<br>
			4.Harcèlement, intimidation et menaces<br>
			Le harcèlement, l'intimidation et les menaces, 
			de même que l'incitation à de telles pratiques, 
			sont interdits. Quiconque utilise nos Services 
			pour choisir une personne en vue de l'abuser, 
			menacer une personne d'atteintes graves, transformer 
			quelqu'un en objet sexuel contre son gré ou pratiquer 
			d'autres formes de harcèlement, peut voir son contenu 
			incriminé supprimé ou peut être exclu des Services de 
			manière définitive. En cas d'urgence, nous signalerons 
			aux autorités chargées de faire respecter la loi les menaces
			d'atteintes graves imminentes. Le harcèlement en ligne est
			également illégal dans de nombreux pays et peut avoir de graves 
			conséquences dans la vie réelle, tant pour l'auteur que pour la victime.
			
			<br>5.Informations personnelles et confidentielles<br>
				Vous ne devez pas divulguer les informations personnelles 
				et confidentielles d'un tiers sans son autorisation, 
				telles que son numéro de carte de paiement, son numéro 
				d'identification national ou les mots de passe de ses comptes.
				Vous ne devez pas non plus publier, ni distribuer d'images ou 
				de vidéos représentant 
				des mineurs sans le consentement de leurs représentants légaux.
				
				<br>
			
			6.Exploitation des enfants<br>
			Vous ne devez pas importer, ni partager de contenus dans lesquels 
			des enfants sont exploités ou maltraités, tels que des images 
			présentant des abus sexuels sur des enfants (y compris sous forme de dessins)
			ou des contenus mettant en scène des enfants dans des positions suggestives.
			Nous supprimerons ces contenus et prendrons les mesures nécessaires, 
			comme désactiver le compte et signaler ces contenus à l'Association des 
			Fournisseurs d'Accès et de Services Internet (AFA) et aux autorités 
			chargées de faire respecter la loi. Ces règles s'appliquent
			également aux contenus importés ou transmis via nos Services.
			
			<br>7.Spam<br>
			L'envoi de spam, y compris de contenus promotionnels ou commerciaux 
			indésirables et de sollicitations de masse ou non souhaitées,
			n'est pas autorisé.

			Vous ne devez pas envoyer de façon massive des invitations ou des 
			messages à des inconnus, 
			ni les ajouter de façon agressive à vos cercles.
			
			
			<br>8.Manipulation du classement <br>
				Ne manipulez pas les classements ni la pertinence, par exemple en saisissant 
				des métadonnées ou des mots clés répétitifs ou trompeurs.
				
			<br>9.Contenu à caractère sexuel explicite	<br>
				Ne publiez pas de contenus à caractère sexuel explicite ou pornographiques. Il est également interdit de rediriger l'utilisateur vers des sites de pornographie commerciale.

	
				La photo de votre profil NetMap ne doit comporter aucun contenu 
				choquant ou réservé aux adultes. Par exemple, vous n'êtes pas autorisé
				à publier une photo en gros plan 
				des fesses ou du décolleté d'une personne.
			
			<br>10.Violence <br>
			La violence gratuite ou les contenus à caractère sanglant 
			visant à choquer ou à susciter un intérêt malsain ne sont pas autorisés. 
			Si vous publiez des contenus dans un contexte documentaire, scientifique, 
			artistique ou en lien avec l'actualité, pensez à donner suffisamment 
			d'informations aux utilisateurs pour qu'ils comprennent ce dont il s'agit. 
			Dans certains cas, les contenus publiés peuvent être si violents ou choquants
			qu'aucun contexte ne pourra justifier leur présence sur nos plates-formes.
			Enfin, n'encouragez pas les autres 
			personnes à commettre des actes de violence spécifiques.
			
			<br>11.Biens et services soumis à règlementation<br>
			
				Nos Services permettent d'échanger sur de nombreux sujets. 
				En revanche, nous n'autorisons pas les contenus dont l'objectif
				est d'encourager la vente de produits et services réglementés 
				(alcool, jeux d'argent et de hasard, produits pharmaceutiques 
				et autres compléments alimentaires non autorisés, tabac, feux 
				d'artifice, armes, appareils de santé et dispositifs médicaux, etc.).

				Une réglementation stricte encadre souvent ces sujets qui, 
				de plus, ne sont pas forcément adaptés à tous les âges, ni à 
				tous les pays. Nous avons donc créé des outils dans NetMap 
				permettant de cibler vos contenus en fonction de l'âge des 
				internautes et des marchés. Si votre contenu fait la promotion 
				de biens ou services réglementés, vous devez lui appliquer les
				restrictions adéquates (âge, emplacement géographique) lorsque
				ces outils sont disponibles. Si nous recevons une réclamation 
				signalant que des contenus de ce type ne respectent pas les lois
				et réglementations en vigueur, nous pouvons supprimer 
				les contenus ou le compte incriminés, ou en limiter l'accès.
				
				
				
				<br>12.Usurpation d'identité et déclarations trompeuses<br>
						Il est interdit d'utiliser nos services dans l'intention de 
						tromper ou d'induire en erreur les utilisateurs en usurpant 
						l'identité d'une personne ou d'une organisation que vous prétendez
						représenter, ou en dissimulant votre véritable identité ou 
						votre objectif principal. Cette interdiction inclut le fait
						de diriger des utilisateurs situés dans un pays autre que 
						le vôtre vers du contenu politique, relatif à des questions
						de société ou d'intérêt public, si vous dissimulez ou présentez
						faussement votre pays d'origine ou d'autres informations 
						importantes vous concernant. Vous pouvez publier des contenus
						parodiques ou satiriques, ou encore utiliser un pseudonyme.
						Toutefois, vous devez éviter les contenus susceptibles 
						d'induire 
						en erreur les lecteurs sur votre véritable identité.
				<br>13.Piratage de compte<br>
					Il est interdit d'accéder au compte d'un autre utilisateur 
					sans son autorisation.
				<br>14.Utilisation de plusieurs comptes<br>	
					Il est interdit de créer ou d'utiliser plusieurs comptes dans 
					le but d'échapper à nos règles, d'en contourner certaines dispositions
					ou d'empêcher l'application des restrictions auxquelles votre compte est soumis. Par exemple, si votre compte a été bloqué par un autre utilisateur ou suspendu pour cause d'abus, ne créez pas de compte de 
					remplacement pour des activités similaires.
					
					
					
				<br>15.Contenus à caractère terroriste<br>
					Nous n'autorisons pas les organisations terroristes à 
					utiliser NetMap, à quelque fin que ce soit, y compris 
					pour le recrutement. Les contenus à caractère terroriste, 
					tels que la promotion d'actes terroristes, l'incitation à 
					la violence ou l'apologie d'attentats terroristes, sont 
					formellement interdits sur NetMap.

					Si vous publiez des contenus liés au terrorisme dans un objectif
					pédagogique, documentaire, scientifique ou artistique, pensez à 
					donner suffisamment d'informations à vos 
					visiteurs pour qu'ils comprennent le contexte.
					
					<br>À propos du présent règlement et des conditions d'utilisation<br>
						Les présents règlements s'appliquent en règle générale au contenu 
						que vous publiez sur nos Services. Certains Services peuvent être 
						régis par des règles spécifiques qui sont disponibles depuis les 
						Services concernés et qui s'appliquent à l'utilisation que vous 
						faites de ces derniers. Tous les produits et Services NetMap sont 
						soumis à leurs conditions d'utilisation en vigueur.
				
		  </p>
         
        </div>
      </div>
    </div>
 
    
  </body>
</html>